.table-div-height-scroll {
    overflow-x: scroll;
}
.my-custom-table {
    table-layout: fixed!important;
    width: fit-content;
    margin: 0!important;
}
.my-custom-table tr,.my-custom-table th,.my-custom-table td {
    border-right: silver 1px solid;
}
.my-custom-table tr td:nth-child(1),.my-custom-table th:nth-child(1) {
    width:1.75rem;
    /*text-align: center;*/
}
.my-custom-table tr td:nth-child(2),.my-custom-table th:nth-child(2) {
    width:1.5rem;
}
.my-custom-table tr td:nth-child(3),.my-custom-table th:nth-child(3) {
    width:8rem;
    /*text-align: center;*/
}
.my-custom-table tr td:nth-child(4),.my-custom-table th:nth-child(4) {
    width:4rem;
    /*text-align: center;*/
}
.my-custom-table tr td:nth-child(5),.my-custom-table th:nth-child(5) {
    width:5rem;
    /*text-align: center;*/
}
.my-custom-table tr td:nth-child(n+6),.my-custom-table th:nth-child(n+6) {
    width:5rem;
    /*text-align: center;*/
}
.triangle-icon-button{
    font-size: 1.3rem;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
/*::-webkit-scrollbar-track {*/
/*    box-shadow: inset 0 0 5px grey;*/
/*    border-radius: 5px;*/
/*}*/

/* Handle */
::-webkit-scrollbar-thumb {
    background: #AEAEAE;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #AEAEAE;
}

